*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Copilot migration agent files
.idea/copilot.data.migration.*.*
.idea/Project_Default.xml
.idea/studiobot.xml
.idea/copilotDiffState.xml
.idea/deviceManager.xml